# http://editorconfig.org/

root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8

[{Makefile,config/deploy/makefiles/**}]
indent_style = tab

[*.{yaml,yml,md}]
# two trailing spaces become <br> in markdown. and markdown may be used inside of yaml
trim_trailing_whitespace = true

[*.{jade,coffee,styl}]
indent_size = 2
